@mixin media($size) {
  @media screen and (max-width: #{$size}) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

// Colours
$text: #32333A;
$dark-grey: #919BA1;
$button-grey: #E6EBEF;
$light-purple: #D4D9E8;
$dark-purple: #5C6686;
$peach: #4391d8;
$color: blue;
//Fonts
$lora: Lora, serif;
$opensans: Open Sans, sans-serif;

//Media
$desktop: 1024px;
$tablet: 768px;
$mobile: 640px;

@mixin devices($xs: $mobile, $sm: $tablet, $lg: $desktop) {
  @if $xs == true { @include media(#{$xs}) { @content; } }
  @if $sm == true { @include media(#{$sm}) { @content; } }
  @if $lg == true { @include media(#{$lg}) { @content; } }
}

// Body Styles
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

i {
  font-style: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

p > a {
  color: $dark-purple;
  font-weight: bold;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px dotted #CACACA;
	width: 80%;
	margin: 0 auto;
}

.slider {
  position: relative;
  overflow: hidden;
  transform: translate(0);

  &:hover {
    .slider-controls {
      visibility: visible;
    }
  }

  .slider-controls {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: visibility 100ms ease;

    .next, .prev {
      top: calc(50% - 0.5em);
      font-size: 3em;
      color: #b2b6d0;
      position: absolute;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    .next {
      right: 1em;
    }

    .prev {
      left: 1em;
    }
  }

  .slider-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 250ms ease-out;

    .slider-image {
      flex: 1;
      width: 100%;
    }
  }
}

//Nav

nav {
  padding: 4em 0;
	background: white;

	@include media ($mobile) {
		height: 150px;
	}

  .nav-content {
    display: flex;
    flex-direction: row;
  }

  .about {
    h1 {
      color: $text;
      font-size: 1em;
      font-weight: 400;
       &:hover {
         color: $peach;
         cursor: pointer;
         font-weight: 600;
       }
    }
  }

  a#logo {
    margin-right: auto;

    h1 {
  		color: $text;
      text-transform: uppercase;
      font: $opensans;
  		letter-spacing: 1px;
  		font-size: 0.9em;
      margin-right: auto;
      font-weight: 600;
      cursor: pointer;

  		span {
  			text-transform: none;
  			font-weight: 400;

  		}
      &:hover {
        color: $peach;
        transition: background-color 0.4s;
      }
  	}
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;

  @include devices(true, true, false) {
    padding: 0 2em;
  }
}

// Hero Content
#hero-content {
  text-align: left;
  padding: 4em 0;
  height: 50vh;

  @include media ($mobile) {
    padding: 3em 0 11em 0;
  }

  .bg-bubbles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 999;
  }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    opacity: 0.2;
    width: 40px;
    height: 40px;
    background-color: $peach;
    border-radius: 4px;
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
    }
  }

  h1 {
    font-size: 2.2em;
    color: $text;
    font-family: 'Lora', serif;
    max-width: 80%;
    line-height: 1.4em;
    font-weight: 400;
    @include media ($mobile) {
      font-size: 1.55em;
      width: 80%;
      line-height: 1.4em;
    }
  }

  p {
    font-size: 1em;
    color: $text;
    font-weight: 300;
    max-width: 55%;
    line-height: 1.6em;
    padding: 0 0 2em 0;
    @include media ($mobile) {
      max-width: 90%!important;
      padding: 0.5em 0 2em 0;
    }
  }

  a.button {
    border: none;
    background: none;
    color: $text;
    font-weight: 400;
    border-radius: 3px;
    font-size: 0.9em;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    align-items: center;

    &:hover {
      color: $peach;
      transition: background-color 0.4s;
      font-weight: 600;
    }
  }
}

header {
	background-color: #474966;
  background-size: cover;
	width: 100%;
}

///// Homepage Projects /////

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4em;
  z-index: 1000;
  position: relative;

  .project {
    padding: 2em 0;;
    width: 100%;

    @include media ($tablet) { width: 50%; }
    @include media ($mobile) { width: 100%; padding: 0; }

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
    }

    .project-content {
			font-size: 16px;
			font-size: 1rem;
			vertical-align: top;
			text-align: left;

      @include media ($mobile) {
				margin: 0 0 20px;
			}

			img {
				max-width: 100%;
				height: auto;
				margin: 0 0 10px;
				border-radius: 4px;
				margin-top: 1em;
			}

			h2 {
				color: $text;
				font-weight: 400;
				font-size: 1.4em;
        font-family: 'Lora', serif;
				padding: 0.5em 0 0.5em 0;

        @include media($mobile) {
					line-height: 1.5em;
					font-size: 1.3em;
					padding: 0;
				}
			}

			button.tag {
				background: $text;
				color: white;
				border: none;
				font-size: 0.6em;
				padding: 0.8em 0.8em 0.8em 0.8em;
			}

			p {
				font-size: .9em;
				line-height: 1.5em;
				color: #727b88;
				font-size: 1em;
				line-height: 1.8em;
				width: 65%;
				font-weight: 400;
				padding: 0 0 1em 0;
				@include media($mobile) {
					width: 100%;
				}
			}
		}
	}

	a.button {
    display: inline-flex;
    align-items: center;
		border: none;
		background: none;
		color: $peach;
		border-radius: 3px;
		font-size: 0.9em;
		font-weight: 600;
		letter-spacing: 1px;
		cursor: pointer;

    > i {
      margin-left: 0.5em;
      align-self: flex-end;
    }

		&:hover {
			color: darken($peach,20%);
		}
	}
}

///// End Homepage Projects /////

//// Project Details ////

.project-detail {
  display: flex;
  flex: wrap;
}

///// Footer /////

section#footer {
	width: 100%;
	height: 70px;
	text-align: center;

	h3 {
		font-size: 0.9em;
		font-weight: 300;
		color: #727b88;
		line-height: 70px;
	}
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media ($mobile) {
      display: none;
    }

    a { margin: 0.5em; }

    i {
      color: $text;
      font-size: 1.1em;
      cursor: pointer;

      @include media ($mobile) {
        font-size: 1.2em;
      }
    }
  }
}

///// End Footer /////
