@mixin media($size) {
  @media screen and (max-width: #{$size}) {
    @content;
  }
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url('/CircularStd-Book.otf'), url('/CircularStd-Medium.otf'), url('/CircularStd-Bold.otf'), url('/CircularStd-Black.otf');
  font-weight: normal;
  font-style: normal;
}

.logo {
  cursor: pointer;
}

// Colours
$primary: #FF7BA7;
$secondary: #86899E;

//Media
$desktop: 1024px;
$tablet: 768px;
$mobile: 640px;

@mixin devices($xs: $mobile, $sm: $tablet, $lg: $desktop) {
  @if $xs == true {
    @include media(#{$xs}) {
      @content;
    }
  }
  @if $sm == true {
    @include media(#{$sm}) {
      @content;
    }
  }
  @if $lg == true {
    @include media(#{$lg}) {
      @content;
    }
  }
}

// Body Styles
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

html,
body {
  font-family: 'CircularStd-Book'!important;
  background: #ffeff1;
}

img {
  height: auto;
  max-width: 100%;
}

i {
  font-style: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

p > a {
  font-weight: bold;
}

hr {
  border: 0;
  height: 0;
  border-top: 12px solid $primary;
  width: 24%;
  position: relative;
  top: -42px;
  z-index: -1;

}

.slider {
  position: relative;
  overflow: hidden;
  transform: translate(0);

  &:hover {
    .slider-controls {
      visibility: visible;
    }
  }

  .slider-controls {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: visibility 100ms ease;

    .next,
    .prev {
      top: calc(50% - 0.5em);
      font-size: 3em;
      color: #b2b6d0;
      position: absolute;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    .next {
      right: 1em;
    }

    .prev {
      left: 1em;
    }
  }

  .slider-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 250ms ease-out;

    .slider-image {
      flex: 1;
      width: 100%;
    }
  }
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;

  @include devices(true, true, false) {
    padding: 0 2em;
  }
}

h1 {
  font-family: 'CircularStd-Bold' !important;
  font-size: 2em;
  max-width: 80%;
  line-height: 1.4em;
  font-weight: 400;
  @include media($mobile) {
    font-size: 1.55em;
    width: 80%;
    line-height: 1.4em;
  }
}

h2 {
  font-family: 'CircularStd-Medium'!important;
  font-weight: 300;
  font-size: 1.2em;
}

h3{
  font-family: 'CircularStd-Bold'!important;
  line-height: 1.4em;
  padding-bottom: 0.8em;
  font-weight: 300;
  font-size: 1.3em;
}

h4 {
  font-family: 'CircularStd-Book'!important;
  font-size: 1em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  color: $secondary;
  font-weight: 300;
  padding: 0 0 2em 0;
}

// Hero Content
#hero-content {
  text-align: left;
  padding: 6em 0;
  height: 50vh;

  @include media($mobile) {
    padding: 3em 0 11em 0;
  }

  p {
    max-width: 80%;
    font-size: 1.1em;
    padding-top: 1em;
    line-height: 1.7em;

    @include media($mobile) {
      max-width: 90% !important;
      padding: 0.5em 0 2em 0;
    }
  }
}

///// Homepage Projects /////

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4em;
  z-index: 1000;
  position: relative;

  
  .project {
    width: 46%;
    border-radius: 4px;
    margin-right: 2em;
    margin-bottom: 2em;
    position: relative;  
    transition-timing-function: ease-in-out;
    border: 2px solid#FFB6C2;
    background: #fff2f4;
    
    

    .about {
      background: ('/images/background1.png');
    }


    &:hover {
      cursor: pointer;   
      border: 2px solid #FF5E7B; 
      background:#fffafa;
      

    }
    img {
      object-fit: cover;
      width: 350px;
      height: 200px;
      margin-bottom: 1em;
      border-radius: 3px;
    }

    @include media($tablet) {
      width: 50%;
    }
    @include media($mobile) {
      width: 100%;
      padding: 0;
      margin-right: 0;
    }

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
    }

    .project-content {
      padding: 0;
      font-size: 16px;
      font-size: 1rem;
      vertical-align: top;
      text-align: left;
      padding: 3em 3em 2em 3em;

      h5 {
        color: black;
        background: #ffd0d8;
        font-weight: 400;
        font-family: 'CircularStd-Medium';
        padding: 0.5em;
        border-radius: 3px;
        display: inline-block;
    }
  

      @include media($mobile) {
        margin: 0 0 20px;
      }

      h2 {
        font-weight: 400;
        font-size: 1.2em;
        padding: 0.8em 0 0.5em 0;

        @include media($mobile) {
          line-height: 1.5em;
          font-size: 1.3em;
          padding: 0;
        }
      }

      p {
        font-size: 1em;
        line-height: 1.5em;
        color: #727b88;
        line-height: 1.8em;
        font-weight: 400;
        padding: 0 0 1.8em 0;

        &:hover {
        }
        @include media($mobile) {
          width: 100%;
        }
      }
    }
  }
}

///// End Homepage Projects /////

//// Project Details ////

.project-detail {
  display: flex;
  flex: wrap;

  h2 {
    padding: 0.5em 0;
  }

  p {
    max-width: 70%;
  }

  .project-detail-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em 0;

    .text-container {
      display: flex;
      flex-direction: column;
    }

    .video-container {
      display: flex;
      flex-direction: column;
    }
  }

  $mobile-width: 420px;
  $mobile-height: 600px;

}

///// Footer /////

section#footer {
  height: 160px;
  text-align: center;
  color: $secondary;
  position: relative;

  .copyright {
    position: relative;
    left: 14em;
    width: 67%;
  }

  .links {
    ul {
      list-style-type: none;
      padding-bottom: 2em;
      
      li {
        color: black;
        font-family: 'CircularStd-Medium';
        font-size: 1em;
        display: inline; 
        margin-left: 1em;
        position: relative;
        right: 1.8em;

        &:hover {
          border-bottom: 2px solid #FF5E7B;
        }
      }
    }
  }
}

.logo {
  img {
    height: 300px!important;
    object-fit: cover;

  }
}

//// About /////

.about {
  padding: 6em 0 18em 0;
  margin: auto;
  background: white;

  .header {

  }

 


  .content {
    max-width: 900px;
  }
}


